.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
.pci-connectable-selected{
  background-color:yellow;
}

.right-connector-handle{
    background-color: darkgray;
    width: 10px;
    height: 10px;
    position: relative;
    right: -60px;
}  

.left-connector-handle{
  background-color: darkgray;
  width: 10px;
  height: 10px;
  position: relative;
  left: -55px;
}  
.remove-item {
  position: relative;
  left: -44px;
  border: solid 1px gray;
  width: 15px;
  text-align: center;
  height: 23px;
}
