<div class="content">
  <button id="myBtn" (click)="showModal()">Show in Modal Dialog</button>
</div>

<!-- The Modal -->
<div #myModal class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <pci-connectables-container
            #pciConnectablesContainer1
            [id]="'tableMap'"
            [sourceItems]="sourceItems"
            [targetItems]="targetItems"
            [mappedItems]="mappedItems"
            [sourceSelectionMode]="'Single'"
            [targetSelectionMode]="'Single'"
            [pageXOffset]="0"
            [pageYOffset]="bodyYOffset"
            (Mapped)="onMapped($event)"
          ></pci-connectables-container>
        </div>
        <div class="col-md-6">
          <pci-connectables-container
            #pciConnectablesContainer2
            [id]="'fieldMap'"
            [sourceItems]="sourceItems2"
            [targetItems]="targetItems2"
            [mappedItems]="mappedItems2"
            [sourceSelectionMode]="'Single'"
            [targetSelectionMode]="'Single'"
            [pageXOffset]="0"
            [pageYOffset]="bodyYOffset"
          ></pci-connectables-container>
        </div>
      </div>
    </div>
  </div>
</div>
